.content {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 640px;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5),
    /* слева */
    5px 0 5px -5px rgba(0, 0, 0, 0.5),
    /* справа */
    0 5px 5px -5px rgba(0, 0, 0, 0.5);
  /* снизу */
}

.arrow {
  transform: rotate(90deg);
  width: 58px;
  padding: 14px 0px;
  color: #d2d2d2;
  transition: transform 0.3s ease, color 0.3s ease;
}

.arrow_status_inactive {
  transform: none;
}

.border {
  border-bottom: 1px solid #d2d2d2;
}